.show{
    display: block;
}

.hide{
    display: none;
}


//horizontal padding
.pad-hor{
    padding-left: 15px;
    padding-right: 15px;
}

//vertical padding
pad-ver{
    padding-top: 15px;
    padding-bottom: 15px;
}

.center-me-type-1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center-me-type-2{
    position: relative;
    height: 100%;
    width: 100%;

    .child{
        position: absolute;
        height: auto;
        width: auto;
        top: 20%;
        left: 20%;
        right: 20%;
        bottom: 20%;
    }
}

center-me-type-3{
    display: table;

        .child{
        display: table-cell;
        vertical-align: middle;

            .offspring{
                width: 100%;
                padding: auto;
                margin: auto;
        }
    }
}
